.place__title {
  max-height: 35px;
  margin: 0px 16px;
  padding: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .place__title {
    margin: 0px 0px 23px 0px;
    padding: 0px 10px 0px 0px;
    max-height: 92px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    margin: 0px 0px 21px 0px;
    padding: 0px;
    max-height: 152px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    margin: 0px 0px 22px 0px;
  }
}