.page {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #FFFFFF;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .page {
    min-width: 1025px;
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 769px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 426px;
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    min-width: 320px;
    max-width: 425px;
  }
}