.page {
  max-width: 424px;
  min-width: 320px;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #FFFFFF;
  background-color: #2A2C2F;
}

@media screen and (min-width: 425px) {
  .page {
    max-width: 768px;
    min-width: 425px;
  }
}

@media screen and (min-width: 768px) {
  .page {
    max-width: 1024px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    max-width: 1280px;
    min-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    max-width: 100%;
    min-width: 1280px;
  }
}