.footer__copyright {
  min-width: 186px;
  max-height: 14px;
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  justify-self: start;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    max-height: 16px;
    line-height: 16px;
    justify-self: end;
    align-self: center;
  }
}