.lead__image {
  margin: 40px 0px 0px;
  padding: 0px;
  transition: margin .4s ease-in-out;
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin: 56px 0px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin: 64px 0px 0px;
  }
}