.cover {
  min-width: 320px;
  max-width: 1184px;
  margin: 66px 0px 0px;
  padding: 0px;
  display: grid;
  position: relative;
  justify-items: center;
  transition: margin .4s ease-in-out;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 65px 0px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px 0px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 92px 48px 0px;
  }
}