.cover__overlay {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 52% auto;
  gap: 16px;
  position: relative;
  justify-items: center;
  overflow: hidden;
  color: #FFFFFF;
}

.cover__overlay::before {
  content: "";
  min-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
  transition: opacity .4s ease-in-out;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    grid-template-rows: 55% auto;
    gap: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    grid-template-rows: 54% auto;
  }
}