.cover__title {
  width: 560px;
  height: 152px;
  margin: 0px;
  padding: 0px 0px 16px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  text-align: center;
  font-style: bold;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 1;
}
    
@media screen and (max-width: 560px) {
  .cover__title {
    width: 288px;
    height: 70px;
    padding: 0px 0px 8px;
    font-size: 32px;
    line-height: 35px;
  }
}