.place__url-heading {
  width: 100%;
  max-height: 12px;
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}